a {
	background-color: transparent;
	text-decoration: none;
	color: white;
}



body {
	margin: 0;
	font-family: verdana;
}






.header {
 	background-color: #327783;
	font-size: 60px;
 	color: white;
}



.topnav {
	overflow: hidden;
	background-color: #2a616a;
 	font-size: 20px;
 }

.topnav a {
 	display: block;
 	color: #f2f2f2;
 	text-align: center;
 	padding: 14px;
 	text-decoration: none;
 }

.topnav a:hover {
	color: #2a616a;
 	background-color: #f2f2f2;
 }

	#home {
		width: 20px;
		height: 20px;
		padding: 0px;
	}

.categories {
	font-size: 17px;
	background-color: #4e3838;
	overflow: hidden;
}

.categories a {
	display: block;
	padding: 11px;
	color: #f2f2f2;
}


.categories a:hover {
	text-decoration: underline;
}


#cat_a {
	background-color: #4e4d38;
	float: left;
}

#cat_b {
	background-color: #434e38;
	float: left;
}

#cat_c {
	background-color: #384e41;
	float: left;
}

#cat_d {
	background-color: #38414e;
	float: left;
}

#cat_e {
	background-color: #3d384e;
	float: left;
}





	#link_right {
		float: right;
	}

	#link_left {
		float: left;
	}





.main {
	padding: 20px;
	color: white;
	background-color: black;
	text-align: center;
	font-size: 17.5px;
}

.main a {
	text-decoration: underline;
	color: white;
}



.bottom {
	overflow: hidden;
	background-color: #2a616a;
	font-size: 20px;
	color: white;
}

.bottom p {
	display: block;
	color: #2a616a;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	color: white;
 }

.bottom a:hover {
	text-decoration: underline;
}






#p1 {
	color: black;
}