body {
    margin: 0;
    font-size: 1.45rem;
    text-align: center;
    color: white;
}

table {
    align-self: center;
}




.title {
    background-color: rgb(23, 190, 93);
    height: 10%;
    font-size: 4.5ex;
}

.first {
    background-color: rgb(23, 190, 93);
    height: 41%;
}

.second {
    background-color: rgb(46, 115, 245);
    height: 51%;
}

.third {
    background-color: black;
    height: 60%;
}
