a {
	text-decoration: none;
	color: white;
}


body {
	padding: 0px;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: 100% 100%;
	font-family: Courier;
}

.header {
	color: white;
	color: gray;
	font-size: 80px;
	text-align: center;
}





.topnav {
	color: white;
	font-size: 40px;
	overflow: hidden;
	background-color: #4e4e4e;
}

	.topnav a {
		display: block;
		padding: 10px;
	}


	#left1 {
		float: left;
	}

		#left2 {
			float: left;;
			color: #adffc3;
		}

		#left3 {
			float: left;
			color: #ffadad;
		}




	#right {
		float: right;
		display: block;
		padding: 10px;
	}


.main {
	background-color: white;
	font-size: 25px;
	padding: 20px;
	text-align: center;
}


.bottom {
	text-align: center;
	color: white;
	background-color: #4e4e4e;
	font-size: 30px;
}

.bottom a {
	color: #adffc3;
}